package-db: /home/tener/builds/hs-cuda/cabal-dev/packages-6.12.3.conf
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/tener/.cabal/packages
local-repo: /home/tener/builds/hs-cuda/cabal-dev/packages
user-install: False
build-summary: /home/tener/builds/hs-cuda/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: "/home/tener/builds/hs-cuda/cabal-dev/"
install-dirs global
  prefix: "/home/tener/builds/hs-cuda/cabal-dev/"