arbitrary_transformation
basic_vector
wrap_pointer
sum
strided_range
norm
stream_compaction
summary_statistics
histogram
bucket_sort2d
version
weld_vertices
sort
remove_points2d
repeated_range
minmax
bounding_box
scan_by_key
saxpy
counting_iterator
unwrap_pointer
lexicographical_sort
max_abs_diff
cpp_integration
permutation_iterator
sparse_vector
simple_moving_average
mode
word_count
constant_iterator
monte_carlo
run_length_encoding
sorting_aos_vs_soa
transform_iterator
fill_copy_sequence
dot_products_with_zip
monte_carlo_disjoint_sequences